# Configuration de la base de données
DB_HOST=localhost
DB_NAME=votre_nom_de_base
DB_USER=votre_utilisateur
DB_PASS=votre_mot_de_passe

# Configuration Email (pour la 2FA)
SITE_NAME="Liste de Noël Famille"
SITE_EMAIL=noreply@votredomaine.fr
ADMIN_EMAIL=admin@exemple.com

# Configuration Admin
ADMIN_NAME=Admin
